<a href="https://colab.research.google.com/github/Blackman9t/PandasCookbook/blob/master/Chapter_4_Selecting_Subsets_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

# Selecting Series data

Step1: Read in the college dataset with the institution name as the index, and select a single column as a Series with the indexing operator:

In [2]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')
city = college['CITY']
city.head()

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

Step2: The .iloc indexer makes selections only by integer location. Passing an integer to it returns a scalar value:

In [3]:
city.iloc[3]

'Huntsville'

Step3: To select several different integer locations, pass a list to .iloc. This returns a Series:

In [4]:
city.iloc[[10,20,30]]

INSTNM
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Name: CITY, dtype: object

Step4: To select an equally spaced partition of data, use slice notation:

In [5]:
city.iloc[4:50:10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

step5: Now we turn to the .loc indexer, which selects only with index labels. Passing a single string returns a scalar value:

In [6]:
city.loc['Heritage Christian University']

'Florence'

Step6: To select several disjoint labels, use a list:

In [7]:
np.random.seed(1)
labels = list(np.random.choice(city.index, 4))
labels

['Northwest HVAC/R Training Center',
 'California State University-Dominguez Hills',
 'Lower Columbia College',
 'Southwest Acupuncture College-Boulder']

In [8]:
city.loc[labels]

INSTNM
Northwest HVAC/R Training Center                Spokane
California State University-Dominguez Hills      Carson
Lower Columbia College                         Longview
Southwest Acupuncture College-Boulder           Boulder
Name: CITY, dtype: object

Step7: To select an equally spaced partition of data, use slice notation. Make sure that the start and stop values are strings. You can use an integer to specify the step size of the slice:

In [9]:
city.loc['Alabama State University':'Reid State Technical College':10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [10]:
city['Alabama State University':'Reid State Technical College':10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

How it works...
The values in a Series are referenced by integers beginning from 0. Step 2 selects the fourth element of the Series with the .loc indexer. Step 3 passes a three-item integer list to the indexing operator, which returns a Series with those integer locations selected. This feature is an enhancement over a Python list, which is incapable of selecting multiple disjoint items in this manner.

In step 4, slice notation with start, stop, and step values specified is used to select an entire section of a Series.

Steps 5 through 7 replicate steps 2 through 4 with the label-based indexer, .loc.  The labels must be exact matches of values in the index. To ensure our labels are exact, we choose four labels at random from the index in step 6 and store them to a list before selecting their values as a Series. Selections with the .loc indexer always include the last element, as seen in step 7.

## There's more...

When passing a scalar value to the indexing operator, as with step 2 and step 5, a scalar value is returned. When passing a list or slice, as in the other steps, a Series is returned. This returned value might seem inconsistent, but if we think of a Series as a dictionary-like object that maps labels to values, then returning the value makes sense. To select a single item and retain the item in its Series, pass in as a single-item list rather than a scalar value:

In [11]:
city.iloc[[3]]

INSTNM
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

Care needs to be taken when using slice notation with .loc. If the start index appears after the stop index, then an empty Series is returned without an exception raised:

In [12]:
city.loc['Reid State Technical College':'Alabama State University':10]

Series([], Name: CITY, dtype: object)

In [13]:
city.loc['Reid State Technical College':'Alabama State University':-10]

INSTNM
Reid State Technical College           Evergreen
Marion Military Institute                 Marion
Heritage Christian University           Florence
Enterprise State Community College    Enterprise
Alabama State University              Montgomery
Name: CITY, dtype: object

# Selecting DataFrame rows

Step1: Read in the college dataset, and set the index as the institution name:

In [14]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')
college.head()

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5
Amridge University                   Montgomery  ...              23370
University of Alabama in Huntsville  Huntsville  ...              24097
Alabama State University             Montgomery  ...            33118.5

[5 rows x 26 columns]

In [0]:
pd.options.display.max_rows = 6

Step2: Pass an integer to the .iloc indexer to select an entire row at that position:

In [16]:
college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
                        ...
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, Length: 26, dtype: object

Step3: To get the same row as the preceding step, pass the index label to the .loc indexer:

In [17]:
college.loc['University of Alaska Anchorage']

CITY                  Anchorage
STABBR                       AK
HBCU                          0
                        ...
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, Length: 26, dtype: object

Step4: To select a disjointed set of rows as a DataFrame, pass a list of integers to the .iloc indexer:

In [18]:
college.iloc[[60, 99, 3]]

                                            CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                            ...
University of Alaska Anchorage         Anchorage  ...            19449.5
International Academy of Hair Design       Tempe  ...              10556
University of Alabama in Huntsville   Huntsville  ...              24097

[3 rows x 26 columns]

Step5: The same DataFrame from step 4 may be reproduced using .loc by passing it a list of the exact institution names:

In [19]:
labels = ['University of Alaska Anchorage',
          'International Academy of Hair Design',
          'University of Alabama in Huntsville']
college.loc[labels]

                                            CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                            ...
University of Alaska Anchorage         Anchorage  ...            19449.5
International Academy of Hair Design       Tempe  ...              10556
University of Alabama in Huntsville   Huntsville  ...              24097

[3 rows x 26 columns]

Step6: Use slice notation with .iloc to select an entire segment of the data:

In [20]:
college.iloc[99:102]

                                         CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                         ...
International Academy of Hair Design    Tempe  ...              10556
GateWay Community College             Phoenix  ...               7283
Mesa Community College                   Mesa  ...               8000

[3 rows x 26 columns]

Step7: Slice notation also works with the .loc indexer and is inclusive of the last label:

In [21]:
start = 'International Academy of Hair Design'
stop = 'Mesa Community College'
college.loc[start:stop]

                                         CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                         ...
International Academy of Hair Design    Tempe  ...              10556
GateWay Community College             Phoenix  ...               7283
Mesa Community College                   Mesa  ...               8000

[3 rows x 26 columns]

##How it works...
Passing a scalar value, a list of scalars, or a slice object to the .iloc or .loc indexers causes pandas to scan the index labels for the appropriate rows and return them. If a single scalar value is passed, a Series is returned. If a list or slice object is passed, then a DataFrame is returned.

# There's more...

In step 5, the list of index labels can be selected directly from the DataFrame returned in step 4 without the need for copying and pasting:

In [22]:
college.iloc[[60, 99, 3]].index.tolist()

['University of Alaska Anchorage',
 'International Academy of Hair Design',
 'University of Alabama in Huntsville']

# Selecting DataFrame rows and columns simultaneously

Directly using the indexing operator is the correct method to select one or more columns from a DataFrame. However, it does not allow you to select both rows and columns simultaneously. To select rows and columns simultaneously, you will need to pass both valid row and column selections separated by a comma to either the .iloc or .loc indexers.

The rows and columns variables may be scalar values, lists, slice objects, or boolean sequences.

In this recipe, each step shows a simultaneous row and column selection using .iloc and its exact replication using .loc.

Step1: Read in the college dataset, and set the index as the institution name. Select the first three rows and the first four columns with slice notation:

In [23]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')
college.iloc[:3, :4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

Step2: Select all the rows of two different columns:

In [24]:
college.loc[:'Amridge University', :'MENONLY']

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

Step3: Select disjointed rows and columns:

In [25]:
college.head(2)

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5

[2 rows x 26 columns]

In [26]:
college.iloc[:, [4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [27]:
college.loc[:, ['WOMENONLY', 'SATVRMID']]

                                                    WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                                  0.0     424.0
University of Alabama at Birmingham                       0.0     570.0
Amridge University                                        0.0       NaN
...                                                       ...       ...
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

[7535 rows x 2 columns]

Selecting columns 7 and 15 for only rows 100 and 200 from the college data set using .iloc

In [28]:
college.iloc[[100, 200], [7, 15]]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

Selecting columns 7 and 15 for only rows 100 and 200 using the label names,  from the college data set using .loc

In [29]:
rows = ['GateWay Community College', 'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']
college.loc[rows, columns]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

Step4: Select a single scalar value:

In [30]:
college.iloc[5, -4]

0.401

In [31]:
college.loc['The University of Alabama', 'PCTFLOAN']

0.401

Step5: Slice the rows and select a single column:

In [32]:
college.iloc[90:80:-2, 5]

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [33]:
start = 'Empire Beauty School-Flagstaff'
stop = 'Arizona State University-Tempe'
college.loc[start:stop:-2, 'RELAFFIL']

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

How it works...
One of the keys to selecting rows and columns simultaneously is to understand the use of the comma in the brackets. The selection to the left of the comma always selects rows based on the row index. The selection to the right of the comma always selects columns based on the column index.

It is not necessary to make a selection for both rows and columns simultaneously. Step 2 shows how to select all the rows and a subset of columns. The colon represents a slice object that simply returns all the values for that dimension.

There's more...
When selecting a subset of rows, along with all the columns, it is not necessary to use a colon following a comma. The default behavior is to select all the columns if there is no comma present. The previous recipe selected rows in exactly this manner. You can, however, use a colon to represent a slice of all the columns. The following lines of code are equivalent:

```
college.iloc[:2]
college.iloc[:2, :]
```

In [34]:
college.iloc[:2]

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5

[2 rows x 26 columns]

In [35]:
college.iloc[:2, :]

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5

[2 rows x 26 columns]

# Selecting with a combination of integers and labels

Step1: Read in the college dataset and assign the institution name (INSTNM) as the index:

In [38]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')

college.head(3)

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5
Amridge University                   Montgomery  ...              23370

[3 rows x 26 columns]

Step2: Use the Index method get_loc to find the integer position of the desired columns:

In [39]:
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1
col_start, col_end

(10, 19)

Step3: Use col_start and col_end to select columns by integer location using .iloc:

In [40]:
college.iloc[:5, col_start:col_end]

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                 0.0333  ...     0.0138
University of Alabama at Birmingham      0.5922  ...     0.0100
Amridge University                       0.2990  ...     0.2715
University of Alabama in Huntsville      0.6988  ...     0.0350
Alabama State University                 0.0158  ...     0.0137

[5 rows x 9 columns]

How it works...
Step 2 first retrieves the column index through the columns attribute. Indexes have a get_loc method, which accepts an index label and returns its integer location. We find both the start and end integer locations for the columns that we wish to slice. We add one because slicing with .iloc is exclusive of the last item. Step 3 uses slice notation with the rows and columns.

# There's more...

There's more...
We can do a very similar operation to make .loc work with a mixture of integers and positions. The following shows how to select the 10th through 15th (inclusive) rows, along with columns UGDS_WHITE through UGDS_UNKN:

In [41]:
row_start = college.index[10]
row_end = college.index[15]
college.loc[row_start:row_end, 'UGDS_WHITE':'UGDS_UNKN']

                                          UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                                ...
Birmingham Southern College                   0.7983  ...     0.0051
Chattahoochee Valley Community College        0.4661  ...     0.0139
Concordia College Alabama                     0.0280  ...     0.0000
South University-Montgomery                   0.3046  ...     0.0326
Enterprise State Community College            0.6408  ...     0.0069
James H Faulkner State Community College      0.6979  ...     0.0009

[6 rows x 9 columns]

# Speeding up scalar selection

Both the .iloc and .loc indexers are capable of selecting a single element, a scalar value, from a Series or DataFrame. However, there exist the indexers, .iat and .at, which respectively achieve the same thing at faster speeds. Like .iloc, the .iat indexer uses integer location to make its selection and must be passed two integers separated by a comma. Similar to .loc, the .at index uses labels to make its selection and must be passed an index and column label separated by a comma.

Getting ready
This recipe is valuable if computational time is of utmost importance. It shows the performance improvement of .iat and .at over .iloc and .loc when using scalar selection.

##Getting ready
This recipe is valuable if computational time is of utmost importance. It shows the performance improvement of .iat and .at over .iloc and .loc when using scalar selection.

How to do it...<br>
Step1: Read in the college scoreboard dataset with the institution name as the index. Pass a college name and column name to .loc in order to select a scalar value:

In [42]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')
college.loc['Texas A & M University-College Station', 'UGDS_WHITE']

0.6609999999999999

Step2: Achieve the same result with .at:

In [43]:
college.at['Texas A & M University-College Station', 'UGDS_WHITE']

0.6609999999999999

Step3: Use the %timeit magic command to find the difference in speed:

In [44]:
%timeit college.loc['Texas A & M University-College Station', 'UGDS_WHITE']

The slowest run took 12.80 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 9.02 µs per loop

In [45]:
%timeit college.at['Texas A & M University-College Station', 'UGDS_WHITE']

The slowest run took 17.11 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.95 µs per loop

Step4: Find the integer locations of the preceding selections and then time the difference between .iloc and .iat:

In [0]:
row_num = college.index.get_loc('Texas A & M University-College Station')
col_num = college.columns.get_loc('UGDS_WHITE')

In [47]:
row_num, col_num

(3765, 10)

In [48]:
%timeit college.iloc[row_num, col_num]  # about 10.5 micro seconds per loop

The slowest run took 26.92 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 10.5 µs per loop

In [49]:
%timeit college.iat[row_num, col_num]  # about 7.04 micro seconds per loop

The slowest run took 14.70 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 7.04 µs per loop

In [50]:
%timeit college.iloc[5, col_num] # about 10.8 micro seconds per loop

The slowest run took 9.17 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 10.8 µs per loop

In [51]:
%timeit college.iat[5, col_num]  # about 3.7 micro seconds per loop

The slowest run took 12.44 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 7 µs per loop

##How it works...
The scalar indexers, .iat and .at, only accept scalar values. They fail if anything else is passed to them. They are drop-in replacements for .iloc and .loc when doing scalar selection. The timeit magic command times entire blocks of code when preceded by two percentage signs and a single time when preceded by one percentage sign. It shows that about 2.5 microseconds are saved on average by switching to the scalar indexers. This might not be much but can add up quickly if scalar selection is repeatedly done in a program.

## There's more...

There's more...
Both .iat and .at work with Series as well. Pass them a single scalar value, and they will return a scalar:

In [0]:
state = college['STABBR']

In [53]:
state.iat[1000]

'IL'

In [54]:
state.at['Stanford University']

'CA'

# Slicing rows lazily

Slicing rows lazily
The previous recipes in this chapter showed how the .iloc and .loc indexers were used to select subsets of both Series and DataFrames in either dimension. A shortcut to select the rows exists with just the indexing operator itself. This is just a shortcut to show additional features of pandas, but the primary function of the indexing operator is actually to select DataFrame columns. If you want to select rows, it is best to use .iloc or .loc, as they are unambiguous.

Step1: Read in the college dataset with the institution name as the index and then select every other row from index 10 to 20:

In [55]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')
college[10:20:2]

                                             CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                             ...
Birmingham Southern College            Birmingham  ...              27000
Concordia College Alabama                   Selma  ...  PrivacySuppressed
Enterprise State Community College     Enterprise  ...               8273
Faulkner University                    Montgomery  ...              22000
New Beginning College of Cosmetology  Albertville  ...               5500

[5 rows x 26 columns]

Step2: This same slicing exists with Series:

In [56]:
city[10:20:2]

INSTNM
Birmingham Southern College              Birmingham
Concordia College Alabama                     Selma
Enterprise State Community College       Enterprise
Faulkner University                      Montgomery
New Beginning College of Cosmetology    Albertville
Name: CITY, dtype: object

Step3: Both Series and DataFrames can slice by label as well with just the indexing operator:

In [66]:
start = 'Mesa Community College'
stop = 'Spokane Community College'
college[start:stop:1500]

                                                CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                ...
Mesa Community College                          Mesa  ...               8000
Hair Academy Inc-New Carrollton       New Carrollton  ...               9666
National College of Natural Medicine        Portland  ...  PrivacySuppressed

[3 rows x 26 columns]

Step4: Here is the same slice by label with a Series:

##How it works...
The indexing operator changes behavior based on what type of object is passed to it. The following pseudocode outlines how DataFrame indexing operator handles the object that it is passed:


df[item]  # Where `df` is a DataFrame and item is some object

If item is a string then
    Find a column name that matches the item exactly
    Raise KeyError if there is no match
    Return the column as a Series

If item is a list of strings then
    Raise KeyError if one or more strings in item don't match columns
    Return a DataFrame with just the columns in the list

If item is a slice object then
   Works with either integer or string slices
   Raise KeyError if label from label slice is not in index
   Return all ROWS that are selected by the slice

If item is a list, Series or ndarray of booleans then
   Raise ValueError if length of item not equal to length of DataFrame
   Use the booleans to return only the rows with True in same location

In [67]:
city[start:stop:1500]

INSTNM
Mesa Community College                            Mesa
Hair Academy Inc-New Carrollton         New Carrollton
National College of Natural Medicine          Portland
Name: CITY, dtype: object

In [69]:
college.index[0]

'Alabama A & M University'

In [70]:
college['Mesa Community College':'Spokane Community College':1500]

                                                CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                ...
Mesa Community College                          Mesa  ...               8000
Hair Academy Inc-New Carrollton       New Carrollton  ...               9666
National College of Natural Medicine        Portland  ...  PrivacySuppressed

[3 rows x 26 columns]

In [71]:
city['Mesa Community College':'Spokane Community College':1500]

INSTNM
Mesa Community College                            Mesa
Hair Academy Inc-New Carrollton         New Carrollton
National College of Natural Medicine          Portland
Name: CITY, dtype: object

## There's more...

There's more...
It is important to be aware that this lazy slicing does not work for columns, just for DataFrame rows and Series.It also cannot be used to select both rows and columns simultaneously. Take, for instance, the following code, which attempts to select the first ten rows and two columns:

In [72]:
# college[:10, ['CITY', 'STABBR']]

# Raises a TypeError

TypeError: ignored

To make a selection in this manner, you need to use .loc or .iloc. Here is one possible way that selects all the institution labels first and then uses the label-based indexer .loc:

In [74]:
first_ten_instnm = college.index[:10]
college.loc[first_ten_instnm, ['CITY', 'STABBR']]

                                           CITY STABBR
INSTNM
Alabama A & M University                 Normal     AL
University of Alabama at Birmingham  Birmingham     AL
Amridge University                   Montgomery     AL
...                                         ...    ...
Athens State University                  Athens     AL
Auburn University at Montgomery      Montgomery     AL
Auburn University                        Auburn     AL

[10 rows x 2 columns]

# Slicing Lexicographically

Slicing lexicographically
The .loc indexer typically selects data based on the exact string label of the index. However, it also allows you to select data based on the lexicographic order of the values in the index. Specifically, .loc allows you to select all rows with an index lexicographically using slice notation. This works only if the index is sorted.

##Getting ready
In this recipe, you will first sort the index and then use slice notation inside the .loc indexer to select all rows between two strings.

Step1: Read in the college dataset, and set the institution name as the index:

In [0]:
college = pd.read_csv('https://raw.githubusercontent.com/Blackman9t/PandasCookbook/master/college.csv', index_col='INSTNM')

Step2; Attempt to select all colleges with names lexicographically between 'Sp' and 'Su':

In [0]:
# college.loc['Sp':'Su']

# This raises both Value and KeyErrors

Step3: As the index is not sorted, the preceding command fails. Let's go ahead and sort the index:

In [80]:
college = college.sort_index()

college.head(2)

                                                CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                ...
A & W Healthcare Educators               New Orleans  ...            19022.5
A T Still University of Health Sciences   Kirksville  ...  PrivacySuppressed

[2 rows x 26 columns]

Step4: Now, let's rerun the same command from step 2:

In [0]:
pd.options.display.max_rows = 10

In [82]:
college.loc['Sp':'Su']

                                                  CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                  ...
Spa Tech Institute-Ipswich                     Ipswich  ...               6333
Spa Tech Institute-Plymouth                   Plymouth  ...               6333
Spa Tech Institute-Westboro                   Westboro  ...               6333
Spa Tech Institute-Westbrook                 Westbrook  ...               6333
Spalding University                         Louisville  ...              25000
...                                                ...  ...                ...
Studio Academy of Beauty                      Chandler  ...               6333
Studio Jewelers                               New York  ...  PrivacySuppressed
Stylemaster College of Hair Design            Longview  ...              13320
Styles and Profiles Beauty College              Selmer  ...  PrivacySuppressed
Styletrends Barber and Hairstyling Academy   Rock Hill  ...             9495.5

[201 rows x 26 columns]

##How it works...
The normal behavior of .loc is to make selections of data based on the exact labels passed to it. It raises a KeyError when these labels are not found in the index. However, one special exception to this behavior exists whenever the index is lexicographically sorted, and a slice is passed to it. Selection is now possible between the start and stop labels of the slice, even if they are not exact values of the index.

##There's more...
With this recipe, it is easy to select colleges between two letters of the alphabet. For instance, to select all colleges that begin with the letter D through S, you would use college.loc['D':'T']. Slicing like this is still inclusive of the last index so this would technically return a college with the exact name T.

This type of slicing also works when the index is sorted in the opposite direction. You can determine which direction the index is sorted with the index attribute, is_monotonic_increasing or is_monotonic_decreasing. Either of these must be True in order for lexicographic slicing to work. For instance, the following code lexicographically sorts the index from Z to A:

In [86]:
college = college.sort_index(ascending=False)
college.index.is_monotonic_decreasing

True

In [84]:
college.loc['E':'B']

                                                  CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                  ...
Dyersburg State Community College            Dyersburg  ...               7475
Dutchess Community College                Poughkeepsie  ...              10250
Dutchess BOCES-Practical Nursing Program  Poughkeepsie  ...               9500
Durham Technical Community College              Durham  ...            11069.5
Durham Beauty Academy                           Durham  ...              15332
...                                                ...  ...                ...
Bacone College                                Muskogee  ...              26350
Babson College                               Wellesley  ...              27000
BJ's Beauty & Barber College                    Auburn  ...  PrivacySuppressed
BIR Training Center                            Chicago  ...              15394
B M Spurr School of Practical Nursing        Glen Dale  ...  PrivacySuppressed

[1411 rows x 26 columns]

In [0]:
# Run below code to kill notebook and fee up space after use

#import os, signal
#os.kill(os.getpid(), signal.SIGKILL)